html {
  font-size: 62.5%;
  width: 100%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7; }

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #e5e5e5; }

.content {
  width: 90vw;
  margin: 0 auto;
  margin-top: 6rem;
  border-left: 2px solid #bababa;
  border-right: 2px solid #bababa;
  background-color: #bababa; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6e6e6e;
  height: 8rem;
  border-bottom: 2px solid #fc5e02; }
  .header__img {
    display: flex;
    max-height: 100%; }
  .header__title {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4rem;
    display: flex; }

.nav {
  display: flex;
  align-items: center;
  height: 100%; }
  .nav__links {
    display: flex;
    align-items: center;
    height: 100%; }
  .nav-link {
    padding: 0 1.2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 0.2s ease-out; }
    .nav-link:hover {
      background-color: #545454; }
    .nav-link:last-child {
      padding-right: 1.5rem; }

.main {
  padding: 3rem;
  border-bottom: 2px solid #fc5e02;
  color: #e5e5e5; }
  .main__heading {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
    text-align: center; }
  .main__content {
    display: flex;
    justify-content: space-around; }

.signup-form__input {
  padding: 1rem; }

.about {
  padding: 2rem;
  border-bottom: 2px solid #fc5e02; }
  .about__heading {
    text-transform: uppercase; }
  .about__us {
    letter-spacing: 1px; }

.products {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid #fc5e02; }

.product {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .product__img {
    max-width: 50%;
    margin-right: 1rem; }
  .product__info {
    padding: 1rem;
    display: flex;
    flex-direction: column; }
  .product__title {
    color: #02a0fc;
    font-size: 2rem;
    font-weight: bold; }
  .product__description {
    color: #e5e5e5; }
  .product__price {
    color: #fc5e02; }

.footer {
  width: 100%; }
  .footer__links {
    margin: 0 auto;
    padding: 1.5rem;
    width: 60%;
    display: flex;
    justify-content: space-around; }
    .footer__links__item {
      list-style: none; }
